#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}
.App{
    background-color: black;
}

.external{
    color: black;
    background-color: yellowgreen;
}
.externalDark {
		color: black;
        background-color:grey;
}